h1{
	font-family: Helvetica;
	text-align: center;
	color: lightcoral;
}

@media (min-width:992px) {
	section{
		width: 32.5%;
		color: black;
		display: inline-block;
		background-color: lightgrey;
		position: relative;
		height: 210px;
		padding-top: 25px;
		font-family: Helvetica;
		border: lightcoral 2px solid;

	}
	h3#h3_1{
		margin: 0px;
		border: green 2px solid;
		color: black;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 25%;
		background-color: greenyellow;
		font-size: 1.25em;
		

	}

	h3#h3_2{
		margin: 0px;
		border: green 2px solid;
		color: black;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 25%;
		background-color: lightgreen;
		font-size: 1.25em;

	}
	h3#h3_3{
		margin: 0px;
		border: green 2px solid;
		color: black;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 25%;
		background-color: lightcoral;
		font-size: 1.25em;
	}

}

@media (min-width:768px) and (max-width: 991px) {
	section#sect_1, section#sect_2 {
		width: 48%;
		color: black;
		display: inline-block;
		background-color: lightgrey;
		position: relative;
		height: 210px;
		margin: 5px;
		padding-top: 25px;
		font-family: Helvetica;
		border: lightcoral 2px solid;

	}
	section#sect_3 {
		width: 97.5%;
		color: black;
		background-color: lightgrey;
		position: relative;
		height: 210px;
		margin: 5px;
		padding-top: 25px;
		font-family: Helvetica;
		border: lightcoral 2px solid;
	}

	h3#h3_1{
		margin: 0px;
		border: green 2px solid;
		color: black;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 25%;
		background-color: greenyellow;
		font-size: 1.25em;

	}

	h3#h3_2{
		margin: 0px;
		border: green 2px solid;
		color: black;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 25%;
		background-color: lightgreen;
		font-size: 1.25em;	

	}
	h3#h3_3{
		margin: 0px;
		border: green 2px solid;
		color: black;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 25%;
		background-color: lightcoral;
		font-size: 1.25em;
	}



}

@media (max-width:767px) {
	section{
		width: 50%;
		color: black;
		background-color: lightgrey;
		position: relative;
		height: 210px;
		margin: 5px;
		padding-top: 25px;
		font-family: Helvetica;
		border: lightcoral 2px solid;
	}

		h3#h3_1{
		margin: 0px;
		border: green 2px solid;
		color: black;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 25%;
		background-color: greenyellow;
		overflow: auto;
		font-size: 1.25em;

	}

	h3#h3_2{
		margin: 0px;
		border: green 2px solid;
		color: black;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 25%;
		background-color: lightgreen;
		overflow: auto;
		font-size: 1.25em;
	}
	h3#h3_3{
		margin: 0px;
		border: green 2px solid;
		color: black;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 25%;
		background-color: lightcoral;
		overflow: auto;
		font-size: 1.25em;
	}

}

